$colorOrange: #f26002;
$colorWhite: #ffffff;
$colorLightBlue: #8ccbea;
$colorBlue: #0271bc;
$colorDarkBlue: #304268;
$colorExtraLigthBlue: #e2f1f9;
$colorDarkGrey: #4a4a4a;
$colorLightGrey: #cbcbcb;
$colorBlack: #000000;
$font-title:'Roboto Slab', serif;
$font-text: 'Roboto', serif;
