.footer{
	height: 128px;
	background: $colorDarkBlue;
	position: relative;
}

.footer_container{
	min-width: 290px;
	margin: 0 30px;
	padding-top:38px;
	text-align: center;
	color: $colorWhite;
}

.footer_container p{
	font-size: 14px;
	line-height: 30px;
	font-family: $font-text;
	font-weight: 400;
}
.heart{
	color: $colorOrange;
}
