/*main section*/
.block.looking{
	min-height: 376px;
	background: $colorWhite;
	width: auto;
	overflow: hidden;
	@media all and (min-width:768px) {
		min-height: 330px;
	}
	@media all and (min-width:1280px) {
		min-height: 360px;
	}
}
 /*container section*/
.block_container{
	overflow: hidden;
	min-width: 200px;
	 margin: 30px 15px;
	@media all and (min-width:768px) {
 		max-width: 680px;
		margin: 30px 39px;
  }
 	@media all and (min-width:1280px) {
 		min-width: 730px;
		margin: 60px 275px;
 	}
}
.block_span{
	font-size: 14px;
	line-height: 30px;
	color:$colorLightBlue;
	@media all and (min-width:1280px) {
		font-size: 16px;
		line-height: 30px;
	}
}
.block_title.looking_title{
	height: 30px;
	text-align: left;
	color: $colorBlack;
	margin-bottom: 30px;
}
.block_text{
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: left;
	color:$colorDarkGrey;
	font-weight: 500;
}
